body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 40px;
    background-color: lightblue;
}

#whiteBirdLogo {
    width: 20%;
    float: right;
    display: block;
}

#titleBlock {
    display: block;
}

h1 {
    text-align: center;
    width: 75%;
    height: 20%;
}

h2 {
    margin-top: 200px;
    display: block;
    text-align: center;
}

#searchForm {
    margin-top: 15px;
    display: block;

}

#searchButton {
    width: 120px;
    margin: 20px 0 0 0;
    background-color: cadetblue
}